<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceExists="false" requireAccess="None" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\M.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs">
        <environmentVariables>
          <add name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
